:root{
    --white: #fff;
}
body{
    background-color: rgb(37, 31, 70);
    color: rgb(184, 94, 184);
    font-family: sans-serif;
}

header,footer{
    text-align: center;
}
header p{
    font-size: 16px;
    margin: 10px 450px 50px 450px;
    color: var(--white);
    text-align: justify center;
}
main{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* transition: all 5s ease-in; */
}

.Sections{
    width: 25%;
    border: 2px dotted;
    border-color: var(--white);
    padding: auto;
    margin: 10px 15px 20px 15px;
}
section h2{
    font-size: 30px;
    position: relative;
    background-color:rgb(37, 31, 70) ;
    bottom: 27px;
    text-align: center;
    border: 2px solid;
    border-color: var(--white);
    padding: auto;
    margin: 10px 30px 10px 30px;
    border-radius: 15px;
    
}
section pre{
    border: 2px solid;
    padding: auto;
    color: var(--white);
    margin: 10px 15px 10px 15px;
    background-color: rebeccapurple;
    border-radius: 15px;
}
section pre:hover{
    background-color: aqua;
    color: var(white);
}


@media screen and (max-width: 992px){
    .Sections{
        width: 40%;
    }
}

@media screen and (max-width:768px){
    .Sections{
        width: 100%;
    }
}

/* default boarder: 2px dotted, color
--dark: 
   color: var(--dark) 
   transition
   highlight
   hover
   flexbox
   linear grating */